.animation-section{
    overflow: hidden;
    margin-top: 60px;
    position: relative;
    @media screen and (max-width: 767px) {
        margin-top: 20px;
        margin-bottom: 50px;
       }
}

.sky-img{
    width: 93%;
    @media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape) {
        width: 100%;
        margin: 0;
    }
}

.city-img{
    margin-left: -100px;
    width: 108%;
    @media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape){
        margin: 0;
    }
}

.lanterns-img{
    position: absolute;
    top: 180px;
    left: 500px;
    z-index: 5;
    @media screen and (min-width: $media-fhd) {
        top: 35%;
        left: 50%;
    }
    @media screen and (min-width: 1295px) and (max-width: $media-desktop) {
        top: 21%;
        left: 31%;
    }
    @media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape) {
        width: 60%;
        height: 40%;
        top: 34%;
        left: 40%;
    }
}

.lantern-img{
    position: absolute;
    top: 175px;
    left: 1030px;
    z-index: 7;
    @media screen and (min-width: $media-fhd) {
        top: 38%;
        left: 73%;
    }
    @media screen and (min-width: 1295px) and (max-width: $media-desktop) {
        top: 19%;
        left: 70%;
    }
    @media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape) {
        width: 15%;
        height: 65%;
        top: 29%;
        left: 77%;
    }
}

.car-one-img{
    position: absolute;
    top: 440px;
    left: -56px;
    @media screen  and (min-width: $media-fhd) {
        top: 60%;
        left: -5%;
    }
    @media screen and (min-width: 1295px) and (max-width: $media-desktop) {
        top: 57%;
    }
    @media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape) {
        position: absolute;
        width: 15%;
        top: 60%;
        left: -56px;
    }
    animation: carone 10s linear 0.5s forwards 1;
    z-index: 3;
}


@keyframes carone {
    0%{
        left: -56px;
    }
    100%{
        left: 1800px;
    }
}

.car-two-img{
    position: absolute;
    top: 430px;
    left: 320px;
    animation: cartwo 6s ease-out 0.5s forwards 1;
    z-index: 2;
    @media screen  and (min-width: $media-fhd) {
        top: 59%;
        left: 10%;
    }
    @media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape) {
        width: 15%;
        top: 58%;
        left: 18%;
        animation: cartwo-mob 6s ease-out 0.5s forwards 1;
    }
}

@media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape) {
    @keyframes cartwo-mob {
        0%{
            left: 18%;
        }
        100%{
            left: 120%;
        }
    }
}

@keyframes cartwo {
    0%{
        left: 320px;
    }
    100%{
        left: 1500px;
    }
}

.car-three-img{
    position: absolute;
    top: 445px;
    left: 615px;
    z-index: 0;
    @media screen  and (min-width: $media-fhd) {
        top: 61%;
        left: 15%;
    }
    @media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape) {
        width: 15%;
        top: 59%;
        left: 18%;
        animation: carthree-mob 15s ease-out 0.5s forwards 1;
    }
    animation: carthree 15s ease-out 0.5s forwards 1;
}

@media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape) {
    @keyframes carthree-mob {
        0%{
            left: 18%;
        }
        100%{
            left: 150%;
        }
    }
}

@keyframes carthree {
    0%{
        left: 615px;
    }
    100%{
        left: 1800px;
    }
}

.car-four-img{
    position: absolute;
    top: 422px;
    left: 1230px;
    z-index: 4;
    @media screen  and (min-width: $media-fhd)  and (min-width: 1295px) and (max-width: $media-desktop){
        top: 58%;
        left: 85%;
    }
    @media screen and (min-width: 1295px) and (max-width: $media-desktop) {
        top: 54%;
    }
    @media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape) {
        width: 15%;
        top: 57%;
        left: 80%;
        animation: carfour-mob 2s linear 0.5s 1 forwards;
    }
    animation: carfour 2s linear 0.5s 1 forwards;
}

@media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape) {
    @keyframes carfour-mob {
        0%{
            left: 80%;
        }
        100%{
            left: 120%;
        }
    }
}

@keyframes carfour {
    0%{
        left: 1230px;
    }
    100%{
        left: 1900px;
    }
}

.suitcases-img{
    position: absolute;
    top: 635px;
    left: 170px;
    z-index: 9;
    @media screen and (min-width: $media-fhd) {
        top: 85%;
        left: 12%;
    }
    @media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape) {
        width: 15%;
        top: 80%;
        left: 18%;
    }
}

.woman-img{
    position: absolute;
    top: 462px;
    left: 180px;
    z-index: 7;
    @media screen and (min-width: $media-fhd) {
        top: 68%;
        left: 13%;
    }
    @media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape) {
        height: 30%;
        top: 60.6%;
        left: 19.8%;
    }
}

.man-img{
    position: absolute;
    top: 375px;
    left: 285px;
    z-index: 8;
    @media screen and (min-width: $media-fhd) {
        top: 59%;
        left: 19%;
    }
    @media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape) {
        height: 40%;
        top: 54%;
        left: 28%;
    }
}

@keyframes hand {
    0%{
        transform: rotate(151deg);
        top: 450px;
        left: 245px;
    }
    100%{
        transform: rotate(0deg);
        top: 330px;
        left: 285px;
    }
}

@media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape) {
    @keyframes hand-mob {
        0%{
            transform: rotate(151deg);
            top: 61.8%;
            left: 25.7%;
        }
        100%{
            transform: rotate(0deg);
            top: 48.8%;
            left: 28%;
        }
    }
    
    @keyframes handdown-mob {
        0%{
            transform: rotate(0deg);
            top: 48.8%;
            left: 28%;
        }
        100%{
            transform: rotate(151deg);
            top: 61.8%;
            left: 25.7%;
        }
    }   
}

@media screen and (min-width:$media-fhd) {
    @keyframes hand {
        0%{
            transform: rotate(151deg);
            top: 66%;
            left: 17%;
        }
        100%{
            transform: rotate(0);
            top: 55%;
            left: 19%;
        }
    }
    @keyframes handdown-fhd {
        0%{
            transform: rotate(0);
            top: 55%;
            left: 19%; 
        }
        100%{
            transform: rotate(151deg);
            top: 66%;
            left: 17%;
        }
    }
}

@keyframes handdown {
    0%{
        transform: rotate(0deg);
        top: 330px;
        left: 285px;
    }
    100%{
        transform: rotate(151deg);
        top: 450px;
        left: 245px;
        }
    }

.mans-hand-img{
    position: absolute;
    top: 450px;
    left: 245px;
    transform: rotate(151deg);
    @media screen and (min-width: $media-fhd) {
        top: 66%;
        left: 17%;
    }
    @media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape) {
        height: 15%;
        top: 61.8%;
        left: 25.7%;
    }
    z-index: 7;
    animation-name: hand, handdown, handdown-fhd, hand-mob, handdown-mob;
    animation-duration: 10ms 10ms 10ms, 10ms, 10ms;
    animation-timing-function: linear, linear, linear, linear, linear;
    animation-iteration-count: 1, 1, 1, 1, 1;
    animation-fill-mode: forwards, forwards, forwards, forwards, forwards;
    animation-delay: 3s, 4.5s, 4.5s, 3s, 4.5s;
}

@keyframes line {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.womans-line{
    position: absolute;
    top: 355px;
    left: 85px;
    opacity: 0;
    z-index: 10;
    @media screen  and (min-width: $media-fhd) {
        top: 57%;
        left: 8%;
    }
    @media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape) {
        width: 15%;
        top: 43%;
        left: 11%;
    }
    animation-name: line;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 1s;
}

@media screen and (min-width:$media-phone) and (max-width: $media-tablet-landscape) {
    @keyframes taxiin-mob {
        0%{
            left: 100%;
        }
        50%{
            left: 50%;
        }
        100%{
            left: 30%;
        }
    }
    @keyframes taxiout-mob {
        0%{
            left: 30%;
        }
        100%{
            left: -120%;
        }
    }
}

@keyframes taxiin {
    0%{
        left: 1500px;
    }
    50%{
        left: 800px;
    }
    100%{
        left: 500px;
    }
}

@keyframes taxiout {
    0%{
        left: 500px;
    }
    100%{
        left: -1500px;
    }
}

.taxi-img{
    position: absolute;
    top: 420px;
    left: 1500px;
    z-index: 6;
    @media screen  and (min-width: $media-fhd) {
        top: 60%;
        left: 110%;
    }
    @media screen and (min-width: 1295px) and (max-width: $media-desktop) {
        top: 52%;
    }
    @media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape) {
        width: 60%;
        top: 54%;
        left: 100%;
    }
    animation-name: taxiin, taxiout, taxiin-mob, taxiout-mob;
    animation-duration: 3s, 5s, 3s, 5s;
    animation-iteration-count: 1, 1, 1, 1;
    animation-timing-function: linear, ease-out, linear, ease-out;
    animation-delay: 2s, 7s, 2s, 7s;
    animation-fill-mode: forwards;
}

@keyframes mansline {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.mans-line{
    position: absolute;
    top: 295px;
    left: 270px;
    opacity: 0;
    z-index: 10;
    @media screen  and (min-width: $media-fhd) {
        top: 50%;
        left: 18.5%;
    }
    @media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape) {
        width: 15%;
        top: 40%;
        left: 26%;
    }
    animation-name: mansline;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.drivers-line{
    position: absolute;
    top: 365px;
    left: 810px;
    z-index: 2;
    opacity: 0;
    @media screen and (min-width: $media-fhd) {
        top: 53%;
    }
    @media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape) {
        width: 15%;
        top: 40%;
        left: 46%;
    }
    animation-name: driversline;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 5.3s;
    z-index: 10;
}

@keyframes driversline {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.last-line{
    position: absolute;
    top: 295px;
    left: 270px;
    opacity: 0;
    z-index: 10;
    @media screen  and (min-width: $media-fhd) {
        top: 50%;
        left: 18.5%;
    }
    @media screen and (min-width: $media-phone) and (max-width: $media-tablet-landscape) {
        width: 15%;
        top: 40%;
        left: 26%;
    }
    animation-name: lastline;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 7s;
}

@keyframes lastline {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

// svg animation

.svg-wrap{
    margin-top: 50px;
    margin-bottom: 60px;
}

.line{
    animation: opacitychange 1s ease-in 0.5s infinite alternate;
}

@keyframes opacitychange {
    from{
        opacity: 1;
    }
    to{
        opacity: 0.5;
    }
}

.sun{
    animation: sun 3s linear 0.5s infinite backwards;
}

@keyframes sun {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(27px,17px);
    }
}

.sky{
    fill: #5D9CEC;
    animation: skyfill 3s linear 0.5s infinite backwards;
}

@keyframes skyfill {
    from{
        fill: #5D9CEC;
    }
    to{
        fill: #2271b3;
    }
}