.form{
    width: 680px;
    padding: 42px 40px;
    background-color: #E5EAF8;
    border: none;
    font-size: 14px;
    line-height: 16px;
    &__name{
      @include flex-change(column, 3px);
    }
    &__contacts-wrap{
      display: flex;
      margin-top: 20px;
      justify-content: space-between;
      &-input{
        @include flex-change(column, 3px);
      }
    }
    &__message-wrap{
      margin-top: 20px;
      @include flex-change(column, 3px);
    }
    &__agreement-wrap{
      display: flex;
      align-items: center;
      margin: 19px 0 20px;
      font-size: 14px;
      line-height: 16px;
      gap: 15px;
    }
    &__input{
      border: 1px solid rgba(0, 0, 0, 0.2);
      &:hover, :active{
        border: 1px solid $sand;
      }
      &:disabled{
        border: 1px solid #EBEBEB;
      }
      &_name{
       width: 600px;
       height: 50px;
       margin-top: 4px;
       font-size: 18px;
       font-family: 'Open Sans', sans-serif;
       padding: 14px 0 11px 20px;
      }
      &_contacts{
       width: 290px;
       height: 50px;
       margin-top: 4px;
      }
      &_message{
        resize: none;
        max-height: 150px;
        margin-top: 5px;
      }
    }
    &__button{
      max-width: 106px;
      margin-top: 10px;
    }
  }