.form{
    width: 680px;
    padding: 42px 40px;
    background-color: #E5EAF8;
    border: none;
    font-size: 14px;
    line-height: 16px;
    @media screen and (min-width: $media-tablet) and (max-width: $media-tablet-landscape) {
      width: 648px;
      padding: 41px 55px;
     }
     @media screen and (max-width: 767px) {
      width: 335px;
      padding: 25px;
      margin-left: -2%;
     }
    &__name{
      @include flex-change(column, 3px);
      }
    &__contacts-wrap{
      display: flex;
      margin-top: 20px;
      justify-content: space-between;
      @media screen and (min-width: $media-tablet) and (max-width: $media-tablet-landscape) {
        width: 100%;
       }
       @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        margin-top: 5%;
       }
      &-input{
        @include flex-change(column, 3px);
        @media screen and (min-width: $media-tablet) and (max-width: $media-tablet-landscape) {
          width: 48%;
        }
        @media screen and (max-width: 767px) {
          width: 100%;
          margin-bottom: 5%;
         }
      }
    }
    &__message-wrap{
      margin-top: 20px;
      @include flex-change(column, 3px);
      @media screen and (max-width: 767px) {
        width: 100%;
        margin-top: 0;
       }
    }
    &__agreement-wrap{
      display: flex;
      align-items: center;
      margin: 19px 0 20px;
      font-size: 14px;
      line-height: 16px;
      gap: 15px;
      @media screen and (min-width: $media-tablet) and (max-width: $media-tablet-landscape) {
        margin: 18px 0 19px;
       }
       @media screen and (max-width: 767px) {
        align-items: flex-start;
        gap: 3.8%;
        margin-top: 5%;
        margin-bottom: 5%;
       }
    }
    &__input{
      border: 1px solid rgba(0, 0, 0, 0.2);
      &:hover, :active{
        border: 1px solid $sand;
      }
      &:disabled{
        border: 1px solid #EBEBEB;
      }
      &_name{
       width: 600px;
       height: 50px;
       margin-top: 4px;
       font-size: 18px;
       font-family: 'Open Sans', sans-serif;
       padding: 14px 0 11px 20px;
       @media screen and (max-width: $media-tablet-landscape) {
        width: 100%;
       }
       @media screen and (max-width: 767px) {
        width: 100%;
        height: 40px;
       }
      }
      &_contacts{
       width: 290px;
       height: 50px;
       margin-top: 4px;
       @media screen and (min-width: $media-tablet) and (max-width: $media-tablet-landscape) {
        width: 100%;
       }
       @media screen and (max-width: 767px) {
        width: 100%;
        height: 40px;
       }
      }
      &_message{
        resize: none;
        max-height: 150px;
        margin-top: 5px;
      }
    }
    &__button{
      max-width: 106px;
      margin-top: 10px;
    }
  }