.header{
  display: flex;
  padding-top: 48px;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
  font-size: 14px;
  &__nav__wrapper{
    display: flex;
    align-items: center;
  }
  &__nav__navlist{
    display: flex;
    column-gap: 20.5px;
    margin-left: 58px;
  }
  &__nav__navlist__list-item{
    &:hover{
      opacity: 0.5;
      transition: opacity 400ms ease 1ms;
    }
    &:active{
      opacity: 0.2;
    }
  }
  &__contact{
    display: flex;
    align-items: center;
    column-gap: 22px;
    letter-spacing: 0.36px;

    &:hover{
      opacity: 0.5;
      transition: opacity 400ms ease 1ms;
    }

    &:active{
      opacity: 0.2;
    }
  }
  &__logo{
    &:hover{
      opacity: 0.5;
      transition: opacity 400ms ease 1ms;
    }
    &:active{
      opacity: 0.2;
    }
  }
}

@media screen and (max-width: $media-tablet-landscape) {
  .header{
    display: none;
  }
}

.header-mob{
  @media screen and (min-width: $media-tablet-landscape) {
    display: none;
  }
  &__btn{
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 14px;
  }
  &__close-btn{
    background-image: url(/source/img/icons/header_close_btn.svg);
    border: none;
    background: transparent;
  }
}

@media screen and (max-width: 767px) {
  .header-mob{
    align-items: center;
    column-gap: 30%;
    &__btn{
      margin-right: 8%;
    }
    &__close-btn{
      margin-left: 3%;
    }
  }
  .header-mob-js{
    display: flex;
  }
}

@media screen and (min-width: $media-tablet) and (max-width: $media-tablet-landscape) {
  .header-mob{
    align-items: center;
    justify-content: space-between;
    &__btn{
      margin-right: 8%;
    }
  }
  .header-mob-js{
    display: flex;
  }
}

.header-mob{
    @media screen and (max-width: 376px) {
      margin-top: 25px;
    }
    @media screen and (min-width: 376px) {
      margin-top: 35px;
    }
    @media screen and (max-width: 767px) {
      width: 84%;
    }
}

.header-mob__logo{
    width: 42px;
    height: 22px;
  @media screen and (min-width:376px) and (max-width: $media-tablet-landscape) {
      width: 62px;
      height: 32px;
    }
  }

  @media screen and (max-width:767px) {    
    .header-mob-open{
      display: flex;
      flex-wrap: wrap;
      width: 84%;
      column-gap: 30%;
      margin-top: 25px;
      &__wrap{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        background-color: #fff;
        padding-bottom: 6.5%;
        &::after{
          content: '';
          display: block;
          background-color: #7D97DACC;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 100%;
        }
      }
      &__nav{
        width: 100%;
      }
      &__navlist{
        @include flex-change(column, 20.5px);
        align-items: center;
        margin-top: 14.5%;
        &__list-item{
          text-transform: uppercase;
          margin-left: -5%;
          line-height: 22px;
        }
      }
      &__contact__search-ico{
        margin-left: 305%;
      }
      .header-mob-open__navlist__list-item__contact{
        margin-top: 4%;
      }
      }
    }

    @media screen and (min-width:$media-tablet) and (max-width: $media-tablet-landscape) {
      .header-mob-open{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 30%;
        margin-top: 25px;
        &__wrap{
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 999;
          background-color: #fff;
          padding-bottom: 6.5%;
          &::after{
            content: '';
            display: block;
            background-color: #7D97DACC;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 100%;
          }
        }
        &__nav{
          width: 100%;
        }
        &__navlist{
          @include flex-change(column, 20.5px);
          align-items: center;
          margin-left: 12%;
          margin-top: 14.5%;
          &__list-item{
            text-transform: uppercase;
            margin-left: -5%;
            line-height: 22px;
          }
        }
        &__contact__search-ico{
          margin-left: 0;
        }
        .header-mob-open__navlist__list-item__contact{
          margin-top: 4%;
        }
      }
    }