.header{
    display: flex;
    padding-top: 48px;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
    font-size: 14px;
  }
  
  .nav__wrapper{
    display: flex;
    align-items: center;
  }
  
  .nav__list{
    display: flex;
    column-gap: 20.5px;
    margin-left: 58px;

    &__item{
      &:hover{
        opacity: 0.5;
      }
      &:active{
        opacity: 0.2;
      }
    }
  }
  
  .contact{
    display: flex;
    align-items: center;
    column-gap: 22px;
    letter-spacing: 0.36px;

    &:hover{
      opacity: 0.5;
    }

    &:active{
      opacity: 0.2;
    }
  }

.logo:hover{
  opacity: 0.5;
}

.logo:active{
  opacity: 0.2;
}