/* сброс стилей по умолчанию */

body{
  font-family: 'Open Sans', sans-serif;
}

* {
  list-style-type: none;
  text-decoration: none;
  color: #1E0606;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

/* стили для текста */

h1, h2{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

h1{
  font-size: 40px;
  @media screen and (min-width: $media-phone) and (max-width: $media-tablet){
    font-size: 24px;
  }
  @media screen and (min-width: $media-tablet) and (max-width: $media-tablet-landscape) {
    font-size: 36px;
    line-height: 44px;
   }
}

h2{
  font-size: 38px;
  @media screen and (min-width:$media-tablet) and (max-width:$media-tablet-landscape) {
    font-size: 36px;
    line-height: 44px;
  }
}

.italic{
  font-family: 'Crimson Text', serif;
}

.small{
  font-size: 20px;
  @media screen and (min-width: $media-phone) and (max-width: $media-tablet){
    font-size: 16px;
  }
}

.big{
  font-size: 26px;
}

.bold{
  font-weight: 700;
}

.roboto{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/* чекбоксы */

.checkbox{
  appearance: none;
  cursor: pointer;
}

.checkbox:disabled::before{
  background-image: url(/img/icons/checkbox__dis.svg);
}

.checkbox:disabled>label{
  color: #908484;
}

.checkbox::before{
  content: '';
  display: inline-flex;
  width: 19px;
  height: 19px;
  background-image: url(/img/icons/checkbox_form.svg);
}

.checkbox:checked::before{
  background-image: url(/img/icons/checkbox_checked.svg);
}
