/* сброс стилей по умолчанию */

body{
  font-family: 'Open Sans', sans-serif;
}

* {
  list-style-type: none;
  text-decoration: none;
  color: #1E0606;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

/* стили для текста */

h1, h2{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

h1{
  font-size: 40px;
}

h2{
  font-size: 38px;
}

.italic{
  font-family: 'Crimson Text', serif;
}

.small{
  font-size: 20px;
}

.big{
  font-size: 26px;
}

.bold{
  font-weight: 700;
}

.hidden{
  display: none;
}

/* кнопки */

.button{
  color: white;
  font-size: 16px;
  background-color: #000;
  padding: 9px 22px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  border: none;
}

.button:hover{
  background-color: #C29974;
}

.button:active{
  background-color: #CFAF91;
}

.button:disabled{
  background-color: #C7C1C1;
  cursor: auto;
}

/* навигация по страницам */

.title__section{
  margin-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.pages__navlist{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.pages__navlist_current{
  opacity: 0.5;
}

/* пагинация */

.pagination{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 42px;
  margin-bottom: 57px;
}

.pagination__arrow_left:hover{
  background-image: url(/img/icons/swipe_left_hover.svg);
}

.pagination__arrow_right:hover{
  background-image: url(/img/icons/swipe_right_hover.svg);
}

.pagination__arrow_left:active{
  background-image: url(/img/icons/swipe_left_hover.svg);
  opacity: 0.7;
}

.pagination__arrow_right:active{
  background-image: url(/img/icons/swipe_right_hover.svg);
  opacity: 0.7;
}

.pagination__pages{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
  font-family: 'Montserrat', sans-serif;
}

.pagination__current_page{
  color: #C29974;
  margin-right: 3px;
}

.page:hover{
  color: #AAAAAA;
}

/* чекбоксы */

.checkbox{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.checkbox:disabled::before{
  background-image: url(/img/icons/checkbox__dis.svg);
}

.checkbox:disabled>label{
  color: #908484;
}

.checkbox::before{
  content: '';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 19px;
  height: 19px;
  background-image: url(/img/icons/checkbox_form.svg);
}

.checkbox:checked::before{
  background-image: url(/img/icons/checkbox_checked.svg);
}

/* стили для попапа */

.feedback__wrap{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #7D97DACC;
  top: 0;
  left: 0;
  display: none;
  z-index: 9999;
}

.feedback__wrap_open{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin: auto;
}

.close__btn{
  width: 15px;
  height: 15px;
  border: none;
  background-color: transparent;
  background-image: url(/img/icons/close_btn.svg);
  cursor: pointer;
}

.close__btn:hover{
  opacity: 0.7;
}

.close__btn:active{
  opacity: 0.4;
}

.roboto{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.feedback__form{
  width: 680px;
  padding: 42px 40px;
  background-color: #E5EAF8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  font-size: 14px;
  line-height: 16px;
}

.feedback__form_name, .phone__wrap, .email__wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
}

.input__border{
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.input__name{
  width: 600px;
  height: 50px;
  margin-top: 4px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 11px;
}

.input__name:hover,
.input__name:active, 
.input__phone_and_email:hover, 
.input__phone_and_email:active,
.input__message:hover, 
.input__message:active{
  border: 1px solid #C29974;
}

.input__name:disabled, 
.input__phone_and_email:disabled,
.input__message:disabled{
  border: 1px solid #EBEBEB;
}

.phone_and_email__wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input__phone_and_email{
  width: 290px;
  height: 50px;
  margin-top: 4px;
}

.message__wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  gap: 3px;
}

.input__message{
  resize: none;
  max-height: 150px;
  margin-top: 5px;
}

.agreement__wrap{
  margin-top: 19px;
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 16px;
  gap: 15px;
}

.form__button{
  max-width: 106px;
  margin-top: 10px;
}