@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/flexbox_column";
@import "_blocks/button";
@import "_blocks/form";
@import "_blocks/footer";
@import "_blocks/header";

.banner{
  background-color: #EEE4DB;
  margin-top: 127px;
  min-height: 372px;
  position: relative;
  padding-top: 17px;
    &__switcher{
      display: inline-block;
      &__number{
        font-family: 'Montserrat', 'Arial' sans-serif;
        font-size: 60px;
        font-weight: 200;
        color: rgba(30, 6, 6, 0.05);
        line-height: 73.14px;
        margin-top: 50px;
        margin-left: 28px;
      }
      &__sticklist{
        margin-top: 10px;
        margin-left: 3px;
          &__stick{
            display: block;
            width: 31px;
            height: 3px;
            margin-bottom: 11px;
            border: none;
            cursor: pointer;
            margin-left: 28px;
              &_first{
                background-color: #1E060699;
                }
              &_inactive{
                background-color: #D6CAC2; 
              }
              &:hover{
                background-color: #1E060699;
              }
            }
        }
    }
    &__description{
      display: inline-block;
      vertical-align: top;
      margin-top: 74px;
      margin-left: 42px;
      max-width: 307px;
        &__title{
          line-height: 110%;
        }
        &__text{
          margin-top: 16px;
          margin-bottom: 21px;
        }
    }
    &__image{
      width: 635px;
      height: 461px;
      position: absolute;
      bottom: 0;
      left: 445px;
    }
    &__shipping{
      background-color: #C29974;
      display: flex;
      height: 39px;
      align-items: center;
      justify-content: center;
      &-text{
        color: white;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
}

.category-products{
  padding-top: 90px;
  &__list{
    padding-top: 30px;
    display: flex;
    column-gap: 20px;
    &-item{
      width: 280px;
      height: 270px;
      position: relative;
      &_first{
        background-color: #DBE4DB;
      }
      &_second{
        background-color: #EADDD3;
      }
      &_third{
        background-color: #F8F2DA;
      }
      &_fourth{
        background-color: #D5D4E1;
      }
      &-name{
        position: absolute;
        text-transform: uppercase;
        font-family: 'Montserrat', 'Arial', sans-serif;
        color: white;
        text-align: center;
        z-index: 1;
        &:hover,
        :active{
          text-decoration: underline;
        }
        &_first{
          top: 103px;
          bottom: 103px;
          left: 75px;
          right: 76px;
        }
        &_second{
          top: 103px;
          bottom: 103px;
          left: 62px;
          right: 63px;
        }
        &_third{
          top: 119px;
          bottom: 119px;
          right: 100px;
          left: 99px;
        }
        &_fourth{
          top: 119px;
          bottom: 119px;
          right: 44px;
          left: 44px;
        }
      }
    }
  }
}

.category-products__img{
  &_second{
    margin: 13px 36px;
  }
  &_third{
    margin: 0 5px;
  }
  &_fourth{
    margin: 10px 20px;
  }
}

.category-description{
  display: flex;
  column-gap: 21px;
  margin-top: 33px;
  &__slider__button{
    width: 37px;
    height: 37px;
    border: none;
    background-color:rgba(112, 187, 220, 0.2);
    padding: 5px 12px 6px 12px;
    cursor: pointer;
  }
  &__text{
    width: 580px;
    margin-top: -2px;
    margin-left: 2px;
  }
}

.svg__size{
  max-height: 37px;
}

.delivery-section{
  display: flex;
  column-gap: 60px;
  padding-top: 87px;
  &__image{
    background-color: #E1F0F7;
  }
  &__title{
    margin: 30px 0 0 60px;
  }
  &__list{
    width: 326px;
    margin-top: 6px;
    &-item{
      padding-left: 60px;
      line-height: 33px;
      margin-top: -2px;
      &_first{
        background-color: rgba(112, 187, 220, 0.2);
        padding-top: 11px;
        padding-bottom: 11px;
      }
      &_second{
        margin-top: 11px;
      }
      &_third{
        margin-top: 22px;
      }
    }
  }
  &__text{
    margin: 30px 0 6px 60px;
    width: 480px;
    line-height: 22px;
    &__second-p{
      margin-top: 15px;
    }
  }
  &__btn{
    margin-left: 60px;
    margin-top: 20px;
  }
}

.awards-section__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 89px 0 85px 0;
}

.prefooter{
  &__wrapper{
  display: flex;
  column-gap: 58px;
  }
  &__section{
    position: relative; 
    padding-left: 30px;
    &__title{
      margin-bottom: 8px;
    }
    &__wrap{
      background-color: #E1F0F7;
      min-width: 543px;
      margin: -30px 0 0 -30px;
      padding: 30px 0 27px 30px;
    }
    &__text{
      padding-top: 12px;
      width: 483px;
      &_contacts{
        background-color: #E1F0F7;
        min-width: 543px;
        min-height: 209px;
        margin: -30px 0 0 -31px;
        padding: 42px 30px 20px 30px;
      }
    }
    &__btn{
      margin-top: 22px;
    }
    &__map{
      margin-top: -74px;
      margin-bottom: 44px;
    }
  }
}

// стили для попапа

.feedback__wrap{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #7D97DACC;
  top: 0;
  left: 0;
  display: flex;
  z-index: 9999;
}

.feedback__wrap_open{
  display: flex;
}

.popup__wrap{
  display: flex;
  gap: 10px;
  margin: auto;
}

.close__btn{
  width: 15px;
  height: 15px;
  border: none;
  background-color: transparent;
  background-image: url(/static/icons/close_btn.svg);
  cursor: pointer;
}

.close__btn:hover{
  opacity: 0.7;
}

.close__btn:active{
  opacity: 0.4;
}

.roboto{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.feedback__form{
  width: 680px;
  padding: 42px 40px;
  background-color: #E5EAF8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  font-size: 14px;
  line-height: 16px;
}

.feedback__form_name, .phone__wrap, .email__wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
}

.input__border{
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.input__name{
  width: 600px;
  height: 50px;
  margin-top: 4px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 14px;
  padding-left: 20px;
  padding-bottom: 11px;
}

.input__name:hover,
.input__name:active, 
.input__phone_and_email:hover, 
.input__phone_and_email:active,
.input__message:hover, 
.input__message:active{
  border: 1px solid #C29974;
}

.input__name:disabled, 
.input__phone_and_email:disabled,
.input__message:disabled{
  border: 1px solid #EBEBEB;
}

.phone_and_email__wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input__phone_and_email{
  width: 290px;
  height: 50px;
  margin-top: 4px;
}

.message__wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  gap: 3px;
}

.input__message{
  resize: none;
  max-height: 150px;
  margin-top: 5px;
}

.agreement__wrap{
  margin-top: 19px;
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 16px;
  gap: 15px;
}

.form__button{
  max-width: 106px;
  margin-top: 10px;
}

// стили для блога

.pages__blog{
  margin-left: 4px;
}

.blog__list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 36px;
  margin-top: 50px;
  margin-bottom: 45px;
}

.blog__list_item{
  max-width: 380px;
}

.blog__list_item>a:hover,
.blog__list_item>a:active{
  text-decoration: underline;
}

.blog__image{
  margin-bottom: 15px;
}

.blog__date{
  display: inline-block;
  color: #818181;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 7px;
}

.blog__title{
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 31px;
}

.blog__description{
  font-size: 18px;
}