<footer class="footer">
  <div class="container">
          <div class="footer__wrapper">
              <section class="footer__navigation">
                  <h3 class="footer__title">Navigation</h3>
                  <hr class="footer__line">
                  <ul class="footer__navlist">
                      <li>
                          <a href="#" class="footer__text">About Us</a>
                      </li>
                      <li>
                          <a href="/pages/blog.html" class="footer__text">Blog</a>
                      </li>
                      <li>
                          <a href="#" class="footer__text">Design Services</a>
                      </li>
                      <li>
                          <a href="#" class="footer__text">Featured On</a>
                      </li>
                      <li>
                          <a href="#" class="footer__text">2018 Holiday Catalog</a>
                      </li>
                      <li>
                          <a href="#" class="footer__text">Shop By Designer</a>
                      </li>
                  </ul>
              </section>
              <section class="footer__customer_info">
                  <h3 class="footer__title">Customer Information</h3>
                  <hr class="footer__line">
                  <ul class="footer__customer_info_list">
                      <li>
                          <a href="/pages/contact.html" class="footer__text">Contact Us</a>
                      </li>
                      <li>
                          <a href="#" class="footer__text">Sale Exclusions</a>
                      </li>
                      <li>
                          <a href="#" class="footer__text">Shipping & Returns</a>
                      </li>
                      <li>
                          <a href="#" class="footer__text">Terms & Conditions</a>
                      </li>
                      <li>
                          <a href="#" class="footer__text">Privacy Policy</a>
                      </li>
                      <li>
                          <a href="#" class="footer__text">Search</a>
                      </li>
                  </ul>
              </section>
              <section class="footer__connect">
                  <h3 class="footer__title">Connect</h3>
                  <hr class="footer__line">
                  <form action="#" class="footer__form">
                      <input type="email" placeholder="Email" class="footer__form_input">
                      <button type="submit" class="button footer__form_btn bold">Join</button>
                  </form>
                  <ul class="socials">
                      <li class="socials__item facebook__link">
                          <a href="http://facebook.com">
                          </a>
                      </li>
                      <li class="socials__item twitter__link">
                          <a href="http://twitter.com">
                          </a>
                      </li>
                      <li class="socials__item pinterest__link">
                          <a href="http://pinterest.com">
                          </a>
                      </li>
                      <li class="socials__item instagram__link">
                          <a href="http://instagram.com">
                          </a>
                      </li>
                  </ul>
              </section>
          </div>
  </div>
  <hr class="footer__line long container">
  <div class="footer__lower_wrapper container">
      <fieldset class="footer__rating">
          <div class="rating__label">Company Rating</div>
          <div class="rating_group">
              <input class="rating_star" type="radio" name="rating" id="rating-1" value="Ужасно">
              <input class="rating_star star-2" type="radio" name="rating" id="rating=2" value="Плохо">
              <input class="rating_star star-3" type="radio" name="rating" id="rating-3" value="Нормально">
              <input class="rating_star star-4" type="radio" name="rating" id="rating-4" value="Хорошо">
              <input class="rating_star star-5" type="radio" name="rating" id="rating-5" value="Отлично">
          </div>
      </fieldset>
      <p class="copyright">Copyright © 2018 Dlk • Design Life Kids</p>
      <a class="dl" href="http://dlacademy.ru">Web Design — Direct Line Development</a>
  </div>
</footer>