<footer class="footer">
    <div class="container">
            <div class="footer__wrapper">
                <section class="footer__navigation">
                    <h3 class="footer__title">Navigation</h3>
                    <hr class="footer__line">
                    <ul class="footer__navlist">
                        <li>
                            <a href="#" class="footer__navlist__item">About Us</a>
                        </li>
                        <li>
                            <a href="blog.html" class="footer__navlist__item">Blog</a>
                        </li>
                        <li>
                            <a href="#" class="footer__navlist__item">Design Services</a>
                        </li>
                        <li>
                            <a href="#" class="footer__navlist__item">Featured On</a>
                        </li>
                        <li>
                            <a href="#" class="footer__navlist__item">2018 Holiday Catalog</a>
                        </li>
                        <li>
                            <a href="#" class="footer__navlist__item">Shop By Designer</a>
                        </li>
                    </ul>
                </section>
                <section class="footer__navigation">
                    <h3 class="footer__title">Customer Information</h3>
                    <hr class="footer__line">
                    <ul class="footer__navlist footer__navlist_customer-info__list">
                        <li>
                            <a href="contact.html" class="footer__navlist__item">Contact Us</a>
                        </li>
                        <li>
                            <a href="#" class="footer__navlist__item">Sale Exclusions</a>
                        </li>
                        <li>
                            <a href="#" class="footer__navlist__item">Shipping & Returns</a>
                        </li>
                        <li>
                            <a href="#" class="footer__navlist__item">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="#" class="footer__navlist__item">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#" class="footer__navlist__item">Search</a>
                        </li>
                    </ul>
                </section>
                <section class="footer__navigation">
                    <h3 class="footer__title">Connect</h3>
                    <hr class="footer__line">
                    <form action="#" class="footer__form">
                        <input type="email" placeholder="Email" class="footer__form__input">
                        <button type="submit" class="button footer__form__btn bold">Join</button>
                    </form>
                    <ul class="footer__navigation__socials">
                        <li class="footer__navigation__socials__item">
                            <a class="footer__navigation__socials__item__link" href="http://facebook.com">
                            </a>
                        </li>
                        <li class="footer__navigation__socials__item">
                            <a class="footer__navigation__socials__item__link" href="http://twitter.com">
                            </a>
                        </li>
                        <li class="footer__navigation__socials__item">
                            <a class="footer__navigation__socials__item__link" href="http://pinterest.com">
                            </a>
                        </li>
                        <li class="footer__navigation__socials__item">
                            <a class="footer__navigation__socials__item__link" href="http://instagram.com">
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
    </div>
    <hr class="footer__line footer__line_long container">
    <div class="footer__lower-wrapper container">
        <fieldset class="footer__rating">
            <div class="footer__rating__label">Company Rating</div>
            <div class="footer__rating__rating-group">
                <input class="footer__rating__rating-group__star" type="radio" name="rating" id="rating-1" value="Ужасно">
                <input class="footer__rating__rating-group__star" type="radio" name="rating" id="rating=2" value="Плохо">
                <input class="footer__rating__rating-group__star" type="radio" name="rating" id="rating-3" value="Нормально">
                <input class="footer__rating__rating-group__star" type="radio" name="rating" id="rating-4" value="Хорошо">
                <input class="footer__rating__rating-group__star" type="radio" name="rating" id="rating-5" value="Отлично">
            </div>
        </fieldset>
        <p class="footer__copyright">Copyright © 2018 Dlk • Design Life Kids</p>
        <a class="footer__dl" href="http://dlacademy.ru">Web Design — Direct Line Development</a>
    </div>
  </footer>